
@main(null) {
    
    @if(flash.containsKey("error")) {
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        
    }
        
    <div class="alert-message block-message info">
        <p>
         <b> <strong>Welcome to Play Websocket sample application!</strong> </b>
         <b> This is internal network chatting application </b>
         <b><i>Users can chat here by using your username.</i></b>
        </p>
    </div>
    
}
